<div class="row">
    <h1 class="titulo1"> Experiencia Laboral</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">

        <div id="expe" class="col-lg 10">


            <ul class="exp-lab">
                <li class="col-4">
                    <div>
                        <img src="../../../assets/lapesa.png" alt="" width="200">
                    </div>
                    <h1>Tecnico Informatico y Sistemas</h1> - <h3>2019-Actualmente</h3>


                </li>
                <h2>La Pesa S.R.L</h2>



                <p class="texto1">Mantinimiento, puesta en marcha de distintos sistemas de gestion de empresas y armado
                    de RED de trabajo con sistama NAS para trabajar de manera remota .Armado de pagina WEB estatica y
                    eCommerce de un mini emprendimiento del CEO de la empresa.</p>
            </ul>
            <ul class="exp-lab">
                <div>
                    <img src="../../../assets/marca.png" alt="" width="150">
                </div>
                <li class="col-4">
                    <h1>Tecnico Informatico y Sistemas</h1> - <h3>2017-Actualmente</h3>

                </li>
                <h2>Argubel S.R.L (Empresa constructora)</h2>
                <p class="texto1">    Mantinimiento, puesta en marcha de distintos sistemas de gestion de
                    empresas y armado
                    de RED de trabajo con sistama NAS para trabajar de manera remota.</p>

                    
                
                   
                
            </ul>
            <ul class="exp-lab">
                <li class="col-4">
                    <h1>Tecnico Informatico</h1> - <h3> 2015-2017</h3>

                </li>
                <h2>Hogar gerihome S.R.L (Geriatrico)</h2>
                <p class="texto1">A cargo del mantenimiento y puesta en marcha de distintos equipos informáticos y
                    además instalación y seguridad de la red de trabajo.</p>
            </ul>
            <ul class="exp-lab">
                <div>
                    <img src="../../../assets/206035-farmacia-sancafarm-logo-1920w-269x113-252w.png" alt="" width="150">
                </div>
                <li class="col-4">
                    <h1>Cadete</h1> - <h3>2013-2015</h3>

                </li>
                <h2>SancaFarm</h2>
                <p class="texto1">Desempeñe la tarea de repartidos y repositor de medicamentos también estaba en
                    atención al publico.</p>
            </ul>

        </div>



    </div>




</div>