.row {
    padding-right: 15%;
    margin: 0;
    padding-left: 5%;
    margin-bottom: 2%;
}
div{
    background-color: #54a3af;
    padding-top: 1%;
    padding-bottom: 1%;

}

h1, h3{
    display: inline;
}
.exp-lab{

}
.titulo1{

    margin-left: 5%;

}
.texto1{

}

