<div class="row">

   
   
        <h1 class="titulo">Hard & Soft Skills</h1>

        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="90"
                [radius]="70"
                [imageSrc]="'../assets/html-5.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="90"
                [radius]="70"
                [imageSrc]="'../assets/bootstrap.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="90"
                [radius]="70"
                [imageSrc]="'../assets/css.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="80"
                [radius]="70"
                [imageSrc]="'../assets/js.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="75"
                [radius]="70"
                [imageSrc]="'../assets/nodejs.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="70"
                [radius]="70"
                [imageSrc]="'../assets/physics.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="75"
                [radius]="70"
                [imageSrc]="'../assets/pngwing.com.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="80"
                [radius]="70"
                [imageSrc]="'../assets/github (1).png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>

        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="75"
                [radius]="70"
                [imageSrc]="'../assets/sql-server.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="70"
                [radius]="70"
                [imageSrc]="'../assets/illustrator.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="80"
                [radius]="70"
                [imageSrc]="'../assets/dwg.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div id="circulos" class="col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showUnits]="false"
                [showSubtitle]="false"
                [percent]="90"
                [radius]="70"
                [imageSrc]="'../assets/office.png'"
                [showImage]="true"
                [imageHeight]="50"
                [imageWidth]="50"
                

                [outerStrokeWidth]="10"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>


    


</div>
