<div class="row font1" id="prueba">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src=".././../../assets/perfilP.png" class="img-fluid" id="fotoPerfil" alt="">
    </div>
    <div  id="divnombre" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">
            Ricardo Duchi
        </p>
        <p class="titulo2">
            Full Stack Developer Jr
        </p>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1> <u>Acerca de Mi</u> </h1>
            <p id="textoSobreMi">Técnico en informática con más de 6 años de experiencia, actualmente estoy cursando la carrera en tecnicatura Web universitario en la UNLaM para poder cumplir mi objetivo profesional que es ser desarrollador web, ya que es lo que me apasiona y tener mi primer empleo como programador, buscar una oportunidad laboral para seguir creciendo día a día como programador y poder aportar a la empresa toda clase de proyectos y poder realizarlos con mucha eficiencia.</p>
        </span>
    </div>

</div>
