
div{
    background-color: #1a92a5;
    padding-right: 20px;
    padding-left: 20px;

}
app-logo-ap{
    width: 20px;
    height: 20px;
}
app-social{
    float: right;
    margin-top: 25px;


}

img{
   width: 100%;
   height: auto;

}