<div class="row">
    <h1 class="titulo3">Educacion</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul>
            <li>
                <h1>estudio1</h1>- <h4>año</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vitae nihil esse beatae, sapiente sunt perspiciatis eligendi ut laborum saepe dignissimos veniam ab nulla eveniet ducimus itaque eum quos nemo?</p>
        </ul>
        <ul>
            <li>
                <h1>estudio1</h1>- <h4>año</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vitae nihil esse beatae, sapiente sunt perspiciatis eligendi ut laborum saepe dignissimos veniam ab nulla eveniet ducimus itaque eum quos nemo?</p>
        </ul>
                <ul>
            <li>
                <h1>estudio1</h1>- <h4>año</h4>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae vitae nihil esse beatae, sapiente sunt perspiciatis eligendi ut laborum saepe dignissimos veniam ab nulla eveniet ducimus itaque eum quos nemo?</p>
        </ul>
    </div>

</div>
