<div class="row">
    <h1 class="titulo3">Educacion</h1>
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <ul class="estudios2">
            <div>
                <img src="../../../assets/logouniversidadatlantida.jpg" width="250" alt="">
            </div>
                
            <li>
                <h1>Desarrollo Web Full Stack</h1>- <h4>2021 - 2022 año</h4>
                <p>Universidad Atlántida Argentina</p>
            
            </li>

        </ul>
        <ul class="estudios2">
            <div>
                <img class="imglogounlam" src="../../../assets/logo-unlam-40.png" alt="">
            </div>
            <li>
                <h1>Tec. Web Universitaria</h1>- <h4>2019-En curso</h4>   
                <p>Universidad Nacional de la Matanza</p>
            </li>

        </ul>
        <ul class="estudios2">
            <div>
                <img src="../../../assets/41162398_1987187241302555_1025891610535133184_n.png" alt="" width="120">
            </div>
            <li>
                <h1>Secundario Completo</h1>
                <h4>2007 - 2012 año</h4>
                <p>
                    Colegio Tecnico Jorge Newbery N° 8 TTP en equipos e instalaciones electromecánica y servicios
    
                </p>
            </li>

        </ul>
    </div>

</div>
