div{
    font-size: 25px;
    background-color: #77C8D5;
}
.row{
    padding-right: 15%;
    margin: 0;
    padding-left: 5%;

}

.titulo3{
    margin-left: 5%;
}
div{
    padding-top: 1%;
    padding-bottom: 1%;
}

.estudios2{
    
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
    

}
.imglogounlam{
    background-color: #001606;
    padding: 5px;
}