div{
    font-size: 25px;
}

.row {
    padding-right: 15%;
    margin: 0;
    padding-left: 5%;
    padding-bottom: 2%;

}
div{
    
    background-color: #54a3af;
    


}
.titulo1{

    margin-left: 5%;
    padding-bottom: 1%;
    margin-top: 3%;

}
#card{
    border: solid 3px;
    border-color: #03444e;
    border-radius: 1em;
}
