<div class="row font1"> 
    <div class="col-1"></div>
    <h1 class="titulo1"> <u>Proyectos Realizados</u> </h1>
    <div class="contenedor">
        <div>
            <div id="card" class="row g-0  ">
                <div class="col-md-6 mb-md-0 p-md-4">
                  <img src="../../../assets/crud-express-mongo.png" class="w-100" alt="...">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                  <h5 class="mt-0">Aplicación CRUD</h5>
                  <p>Mi primer proyecto fue desarrollar una aplicación CRUD (por sus siglas en inglés Create, Read, Update y Delete), en base a nodeJs, express y conectado con MongoDB.
                  </p>
                  <a href="https://github.com/RicardoD92/finalBackEndMxNumen.git" target="_blank" class="">Go github</a>
                </div>
              </div>
              <div id="card" class="row g-0  ">
                <div class="col-md-6 mb-md-0 p-md-4">
                  <img src="../../../assets/Devices.jpg"  width="100" class="w-100" alt="...">
                </div>
                <div class="col-md-6 p-4 ps-md-0">
                  <h5 class="mt-0">eCommerce En ReactJs</h5>
                  <p>Realice el proyecto de crear desde cero y bajo la librería React Js un eCommerce con enlace a MercadoPago y una calculadora para gestionar el precio del envió. 
                  </p>
                  <a href="https://cataniaheado.empretienda.com.ar/" target="_blank" class="">Go Store</a>
                </div>
              </div>
              
              
        </div>

    </div>
</div>
